* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */
.container-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.container-main {
  background-color: #b4d0e7;
  height: 500px;
  padding: 50px 300px 50px 300px;
  margin: auto 0;
}

.container-central {
  height: 1800px;
  width: 70%;

  margin: 0 auto;
}

.container-plans {
  height: 1800px;
  width: 70%;

  margin: 0 auto;
}
/* FINE CONTAINER */

/* TITOLI */
.title {
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 30px;
}

.subtitle {
  font-size: 30px;
  font-weight: 400;
}

/* FINE TITOLI */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jumbo {
  width: 550px;
  display: inline-block;
}
/* COLONNE */
.col-25 {
  width: 25%;
  text-align: center;
}
.col-35 {
  width: 35%;
  text-align: center;
}

.col-33 {
  text-align: center;

  width: calc(100% / 3);
}

.col-50 {
  height: 280px;

  width: 50%;
}

.col-60 {
  height: 280px;

  width: 60%;
}

.col-100 {
  width: 100%;
  text-align: left;
}
.col-40 {
  height: 280px;

  width: 40%;
}

/* FINE COLONNE */

/* UTILITY */
ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  font-size: smaller;
  padding: 10px;
  color: rgb(39, 39, 39);
}

.left {
  justify-content: left;
}
.right {
  justify-content: right;
}

.jumbo {
  width: 550px;
  display: inline-block;
}

button {
  background-color: rgb(43, 105, 248);
  color: white;
  font-size: smaller;
  padding: 3px 5px;
  border: none;
}

.content {
}

.height-50 {
  height: 50px;
}
.height-200 {
  height: 200px;
}

.height-500 {
  height: 500px;
}

.margin-45 {
  margin-top: 45px;
}

.margin-100 {
  margin-top: 100px;
}

.margin-200 {
  margin-top: 200px;
}

.min-eight {
  min-height: 1500px;
}

.border {
  border: 1px solid black;
}

.partner {
  display: inline-block;
  width: 70%;
}

.trial {
  padding: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.font-size-small {
  font-size: small;
}

.arrow {
  font-size: 40px;
}
