* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */
.container-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.container-main {
  background-color: #b4d0e7;

  padding: 50px 300px 50px 300px;
  margin: auto 0;
}

.container-FAQ {
  padding: 50px 300px 50px 300px;
  margin: auto 0;
}

.container-central {
  width: 70%;

  margin: 0 auto;
}

.container-plans {
  width: 50%;

  margin: 0 auto;
}

.container-footer {
  width: 70%;

  margin: 0 auto;
}
/* FINE CONTAINER */

/* TITOLI */
.title {
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 30px;
  width: 90%;
}

.subtitle {
  font-size: 30px;
  font-weight: 400;
}

/* FINE TITOLI */

.row {
  display: flex;
  flex-wrap: wrap;
}

.jumbo {
  width: 550px;
  display: inline-block;
}
/* COLONNE */

.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
  text-align: center;
}
.col-35 {
  width: 35%;
  text-align: center;
}

.col-33 {
  width: calc(100% / 3);
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
  text-align: left;
}
.col-40 {
  width: 40%;
}

/* SQUARE */

.square-section {
  display: flex;
}

.square {
  width: calc(100% / 3);
  height: calc(100vw / 3);

  display: flex;
  flex-wrap: wrap;
}

.small-square {
  height: 50%;
  width: 50%;
}

/* FINE COLONNE */

/* UTILITY */
.header-flex {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  font-size: smaller;
  padding: 10px;
  color: rgb(39, 39, 39);
}

.left {
  justify-content: left;
}
.right {
  justify-content: right;
}

.jumbo {
  width: 550px;
  display: inline-block;
}

button {
  background-color: rgb(43, 105, 248);
  color: white;
  font-size: smaller;
  padding: 5px 10px;
  border: none;
}

.content {
}

.height-50 {
  height: 50px;
}
.height-200 {
  height: 200px;
}

.height-500 {
  height: 500px;
}

.margin-10 {
  margin-top: 10px;
}

.margin-45 {
  margin-top: 45px;
}

.margin-100 {
  margin-top: 100px;
}

.margin-200 {
  margin-top: 200px;
}

.min-height {
  min-height: 760px;
}

.margin-bottom {
  margin-bottom: 70px;
}

.border-custom {
  border-top: 1px solid rgb(124, 124, 124);
  border-left: 1px solid rgb(124, 124, 124);
  border-bottom: 1px solid rgb(124, 124, 124);
}

.border-custom2 {
  border-right: 1px solid rgb(124, 124, 124);
  border-top: 1px solid rgb(124, 124, 124);
  border-bottom: 1px solid rgb(124, 124, 124);
  border-left: 1px solid rgb(124, 124, 124);
  border-collapse: collapse;
}

.content-spacing {
  margin: 20px;
  border: 1px solid rgb(201, 201, 201);
}

hr {
  border: 0.5px solid rgb(201, 201, 201);
}
.content-spacing2 {
  margin: 20px;
}
.border {
  border: 1px solid rgb(0, 0, 0);
}
.partner {
  display: inline-block;
  width: 100%;
}

.width150 {
  width: 150px;
}
.trial {
  padding: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 11px;
}

.font-size-small {
  font-size: small;
}

.arrow {
  font-size: 40px;
}

span {
  font-size: smaller;
}

.margin-left {
  margin-left: 10px;
}

.vertical-align {
  vertical-align: middle;
}

.align-center {
  text-align: center;
  align-items: center;
}

.line-height {
  line-height: 3;
}

.justify-left {
  justify-content: left;
}

.py-5 {
  padding: 25px;
}

.py-10 {
  padding: 10px;
}

.py-top-left {
  padding: 25px 25px 0px 25px;
}

.py-left {
  padding: 0px 25px;
}

.py-top {
  padding-top: 25px;
}

.py-bottom {
  padding-bottom: 25px;
}

.py-top-right {
  padding-top: 25px;
  padding-right: 25px;
}

.py-top-left {
  padding-top: 25px;
  padding-left: 25px;
}

.py-top15 {
  padding-top: 15px;
}

h6 {
  padding: 10px 0px;
}

.font-style {
  color: grey;
  font-style: oblique;
}

.font-style2 {
  color: rgb(82, 79, 79);
}

.width20 {
  width: 20%;
}
.width70 {
  width: 70%;
}

.check {
  color: blue;
}

.border-collapse {
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.btn2 {
  padding: 10px;
  border: none;

  width: 200px;
}

.btn3 {
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  margin-top: 10px;
  color: gray;
}

img {
  width: 100%;
}

h2 {
  font-size: 30px;
}

.spacing {
  mar: 0px 20px 0px 20px;
}

.bg-green {
  background-color: #a2d39b;
}

.bg-darkred {
  background-color: #61082b;
}

.bg-blue {
  background-color: #0093ce;
}

.bg-red {
  background-color: #ff1c1c;
}

.bg-red2 {
  background-color: #d5001f;
}

.bg-lightblue {
  background-color: #b4d0e7;
}

.bg-darkblue {
  background-color: #0d2481;
}

.bg-yellow {
  background-color: #ffd830;
}

.bg-darkwhite {
  background-color: #f5f5f5;
}

.bg-black {
  background-color: black;
}

.bordercolor {
  border: 10px solid #d1e9cd;
}

.relative {
  position: relative;
}
.position-absolute-center {
  position: absolute;
}

.width30 {
  width: 30%;
}

.btn4 {
  padding: 10px;

  background-color: white;
  margin-top: 10px;
  color: rgb(70, 70, 70);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-spacing {
  padding: 30px 50px 30px 0px;
}

.li-spacing2 {
  padding: 5px 0px 5px 0px;
}

.margin-left2 {
  margin-left: 200px;
}

.border-top {
  border-top: 1px solid rgb(124, 124, 124);
}

.border-top-bottom {
  border-top: 1px solid rgb(124, 124, 124);
  border-bottom: 1px solid rgb(124, 124, 124);
}

.font-style-bold {
  font-weight: bold;
  font-size: small;
}

footer {
  height: 400px;
}

.content-footer {
  color: white;
}

.color-white {
  color: white;
}
